<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/kickstarter</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <!-- Use XML-based mapping metadata -->
        <!--<mapping resource="ua/com/goit/gojava7/kickstarter/domain/Quote.hbm.xml"/>-->

        <!-- Use Annotation-based mapping metadata -->
        <!--<mapping class="ua.com.goit.gojava7.kickstarter.domainn.Quote" />-->
        <!--<mapping class="ua.com.goit.gojava7.kickstarter.domainn.Category" />-->
        <!--<mapping class="ua.com.goit.gojava7.kickstarter.domainn.Project" />-->

    </session-factory>
</hibernate-configuration>