<!DOCTYPE html>
<html>
<head>
<title>Update User Info</title>
</head>
<body>
    
    <center><h1>Welcome User!</h1></center>
    
    <div>
        <form action="home.html" method="POST">
            <table style="border: 1px solid black">
                Update User Info
                <input type="text" hidden name="id" value="1">
                <tr>
                    <td>Your name</td>
                    <td><input type="text" name="login" placeholder="login"></td>
                </tr>
                <tr>
                    <td>Your surname</td>
                    <td><input type="text" name="surname" placeholder="surname"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" placeholder="user@cats.com"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Save changes"></td>
                </tr>
            </table>
        </form>
    </div>
    
</body>