<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<style>
#userInfo td {
    border: 1px solid black;
}
</style>

</head>
<body>
    
    <center><h1>Welcome User!</h1></center>
    
    <div id="userInfo">
        <table style="border: 1px solid black">
            User Info
            <tr>
                <td>Your name</td><td>John</td>
            </tr>
            <tr>
                <td>Your surname</td><td>Doe</td>
            </tr>
            <tr>
                <td>Email</td><td>j.doe@cats.com</td>
            </tr>
            <tr>
                <td colspan="2"><a href="profile.html">Edit</a></td>
            </tr>
            
        </table>
    </div>
    
</body>