<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">



    <bean id="userService" class="com.gojava6.airbnb.services.UserService">
        <constructor-arg ref="userDaoIO"/>
    </bean>

    <bean id="userDaoJDBC" class="com.gojava6.airbnb.dao.jdbc.UserDao">
    </bean>

    <bean id="userDaoIO" class="com.gojava6.airbnb.dao.io.UserDaoIO">
    </bean>




    <bean id="apartmentService" class="com.gojava6.airbnb.services.ApartmentService">
        <constructor-arg ref="apartmentDaoIO"/>
    </bean>

    <bean id="apartmentDaoJDBC" class="com.gojava6.airbnb.dao.jdbc.ApartmentDao">
    </bean>

    <bean id="apartmentDaoIO" class="com.gojava6.airbnb.dao.io.ApartmentDaoIO">
    </bean>



    <bean id="reservationService" class="com.gojava6.airbnb.services.ReservationService">
        <constructor-arg ref="reservationDaoIO"/>
    </bean>

    <bean id="reservationDaoJDBC" class="com.gojava6.airbnb.dao.jdbc.ReservationDao">
    </bean>

    <bean id="reservationDaoIO" class="com.gojava6.airbnb.dao.io.ReservationDaoIO">
    </bean>



    <bean id="loyaltyProgramService" class="com.gojava6.airbnb.services.LoyaltyProgramService">
        <constructor-arg ref="subscriberDaoIO"/>
    </bean>

    <bean id="subscriberDaoJDBC" class="com.gojava6.airbnb.dao.jdbc.SubscriberDao">
    </bean>

    <bean id="subscriberDaoIO" class="com.gojava6.airbnb.dao.io.SubsriberDaoIO">
    </bean>


</beans>