<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>testing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SomeController1</display-name>
    <servlet-name>SomeController1</servlet-name>
    <servlet-class>ua.com.goit.gojava.m__jane.controllers.SomeController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SomeController1</servlet-name>
    <url-pattern>/SomeController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexPage</display-name>
    <servlet-name>IndexPage</servlet-name>
    <servlet-class>ua.com.goit.gojava.m__jane.controllers.IndexPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexPage</servlet-name>
    <url-pattern>/indexPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Quizer</display-name>
    <servlet-name>Quizer</servlet-name>
    <servlet-class>ua.com.goit.gojava.m__jane.controllers.Quizer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quizer</servlet-name>
    <url-pattern>/Quizer</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/testingDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>SimpleQuestionController</display-name>
    <servlet-name>SimpleQuestionController</servlet-name>
    <servlet-class>ua.com.goit.gojava.m__jane.controllers.SimpleQuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleQuestionController</servlet-name>
    <url-pattern>/SimpleQuestionController</url-pattern>
  </servlet-mapping>
</web-app>