trunk/GoJava8/a.kolodiazhny/Module1/.directory
trunk/GoJava8/a.kolodiazhny/Module1/.idea/
trunk/GoJava8/a.kolodiazhny/Module1/MinDistance/.directory
trunk/GoJava8/a.kolodiazhny/Module1/MinDistance/mindistance/.directory
trunk/GoJava8/a.kolodiazhny/Module1/NumbersDivider/.gitignore
