html, body {
	height: 100%;
	text-align: justify;
	margin: 0 auto;
	background: #49c0f4;
}

#info-cont {
	height: 100%;
	overflow:hidden;
	margin: 0 auto;
	width: 1000px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background: #fff;
}

#top {
	position: relative;
	width: 1000px;
	height: 200px;
}

#categories {
	position: relative;
	height: 100%;
	padding-top:10px;
	background: #78cff5;
	width: 150px;
	float: left;
}

#projects {
	position: relative;
	height: 100%;
	padding-top:10px;
	width: 150px;
	float: left;
	background-color: #bee6f8;
}

#project{
	position: relative;
	height: 100%;
	padding-top:10px;
	width: 400px;
	float: left;
}

#option{
	position: relative;
	height: 100%;
	width: 300px;
	float: left;
	background-color: #bee6f8;
}

#title{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
}

.buttonCategory {
	width: 150px;
	height: 30px;
	float: left;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
}

.clickedCategory {
	width: 110px;
	margin-left:20px;
	background-color: #bee6f8;
}

.buttonProject{
	width: 150px;
	height: 30px;
	float: left;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
}

.clickedProject{
	width: 110px;
	margin-left:20px;
	color: #bee6f8;
	background-color: #fff;
}

.buttonOption{
	float:right;
	clear:right;
	width: 90px;
	height: 30px;
	color: #78cff5;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
}

.clickedOption{
	width: 90px;
	margin-left:20px;
	color: #fff;
	background-color: #bee6f8;
}

#q{
	
}

h1{
	text-align: center;
	margin:0;
	padding: 20px;
	color: #49c0f4;
	font-size: 80px;
	font-weight: bold;
}

#footer {
	position: relative; 
	left: 0;
	bottom: 0; 
	width: 998px;
	min-height: 30px;
	margin: 0 auto; 
	background: #90bade;
}