html {
  position: relative;
  min-height: 100%;
}

body {
	background: #F4F4F4;
	margin-bottom: 60px;
}

footer {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  overflow: hidden;
  height: 60px;
}

.textcopyright {
	font-size: 1.005em;
	padding-top: 15px;
}

.list-group {
    width: 400px;
}