<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>

		<property name="hibernate.connection.datasource">
			java:comp/env/jdbc/dataSource
		</property>

		<mapping class="ua.nenya.domain.Quote"/>
	    <mapping class="ua.nenya.domain.Category"/>
	    <mapping class="ua.nenya.domain.Project"/>
	    <mapping class="ua.nenya.domain.Question"/>
		<mapping resource="Reward.hbm.xml" />
		<mapping resource="Payment.hbm.xml" />
	</session-factory>
</hibernate-configuration>