<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">
      org.hibernate.dialect.PostgreSQLDialect
   </property>
   <property name="hibernate.connection.driver_class">
      org.postgresql.Driver
   </property>

   <!-- Assume test is the database name -->
   <property name="hibernate.connection.datasource">
      java:comp/env/jdbc/Kickstarter
   </property>
   
   <property name="show_sql">true</property>

   <!-- List of XML mapping files -->
   <mapping resource="Quote.hbm.xml"/>
   <mapping resource="Category.hbm.xml"/>
   <mapping resource="Project.hbm.xml"/>
	<mapping resource="Question.hbm.xml"/>
	<mapping resource="Reward.hbm.xml"/>
	<mapping resource="Payment.hbm.xml"/>
</session-factory>
</hibernate-configuration>