
body {
  padding: 10px;
}

    /* page header */
.pageHeader {
  padding: 2px;
  text-align: left;
  font-size:  16pt;
  padding-left: 15px;
  padding-bottom: 10px;
  
}

    /* filter on header */
.filter {
  padding: 2px;
  text-align: left;
  font-size:  12pt;
  padding-left: 15px;
  padding-bottom: 10px;
  
}

  	/* table style */
.table {
  border:1px solid black;
  
}

  	/* table style */
.errorTable {
  border:1px solid black;
  background-color: red;
}

    /* header row */
.tableHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
 
}

    /* table */
TD {
  border:1px solid silver;
  padding: 2px;
  margin-bottom:6px;
  
}

    /* numeric fields */
.numericColumn {
  text-align: right;
  width:8em;
}

.defaultButton {
	background-color: #2062B8;
 	color: white;
 	border-radius:10px;

}



