<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee"
         version="2.5">

    <context-param>
        <param-name>path</param-name>
        <param-value>/WEB-INF/view</param-value>
    </context-param>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.azuiev.servlet.ControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/register</url-pattern>
        <url-pattern>/login</url-pattern>
        </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.azuiev.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
           <url-pattern>/WEB-INF/view/*</url-pattern>
            <include-prelude>/WEB-INF/include/header.jsp</include-prelude>
            <!--<include-coda>/WEB-INF/jspf/footer.jspf</include-coda>-->
        </jsp-property-group>
    </jsp-config>


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>