<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee"
         version="2.5">

    <context-param>
        <param-name>path</param-name>
        <param-value>/WEB-INF/</param-value>
    </context-param>

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.azuiev.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.azuiev.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
</web-app>