<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>KickstarterWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Categories</servlet-name>
    <servlet-class>com.anmertrix.page.CategoriesPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categories</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Projects</servlet-name>
    <servlet-class>com.anmertrix.page.ProjectsPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Projects</servlet-name>
    <url-pattern>/projects</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Project</servlet-name>
    <servlet-class>com.anmertrix.page.ProjectPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project</servlet-name>
    <url-pattern>/project</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/KickstarterDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>