
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
 	
 	<bean id="userName" class="yalex.User">
      <constructor-arg value="Yalex"/>
 	</bean>
 
	<bean id="message" class="yalex.MobileMessenger">
		<constructor-arg ref="userName"/>
	<!--  	<constructor-arg value="hello people!"/> -->
		<constructor-arg value="hello people!"/>
	</bean>
	 
</beans>