<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> 

	<display-name>Kickstarter</display-name>
	<description>Kickstarter description</description>

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>ua.com.goit.gojava2.vova.kickstarter.servlet.MainServlet</servlet-class>
 
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
</web-app>