<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
    					http://www.springframework.org/schema/context
    					http://www.springframework.org/schema/context/spring-context-4.1.xsd 
    					">   
				
	<context:spring-configured/>
    <context:annotation-config/>
    <context:load-time-weaver aspectj-weaving="on"/>
    <context:component-scan base-package="ua.com.goit.gojava.POM" />

   <bean id="CashMovementService" class="ua.com.goit.gojava.POM.services.CashMovementService">
      <property name="cashMovementDAO" ref="CashMovementDAO"/>
   </bean>
   <bean id="BankAccountService" class="ua.com.goit.gojava.POM.services.BankAccountService">
      <property name="bankAccountDAO" ref="BankAccountDAO"/>
   </bean>
   <bean id="ExchangeRateService" class="ua.com.goit.gojava.POM.services.ExchangeRateService">
      <property name="exchangeRateDAO" ref="ExchangeRateDAO"/>
   </bean>
   <bean id="CostItemService" class="ua.com.goit.gojava.POM.services.CostItemService">
      <property name="costItemDAO" ref="CostItemDAO"/>
   </bean>
   <bean id="ProjectService" class="ua.com.goit.gojava.POM.services.ProjectService">
      <property name="projectDAO" ref="ProjectDAO"/>
   </bean>
   <bean id="ProjectStageService" class="ua.com.goit.gojava.POM.services.ProjectStageService">
      <property name="projectStageDAO" ref="ProjectStageDAO"/>
   </bean>
   <bean id="ProjectFinResultEntryService" class="ua.com.goit.gojava.POM.services.ProjectFinResultEntryService">
      <property name="projectFinResultEntryDAO" ref="ProjectFinResultEntryDAO"/>
   </bean>
   <bean id="PaymentDocumentService" class="ua.com.goit.gojava.POM.services.PaymentDocumentService">
      <property name="paymentDocumentDAO" ref="PaymentDocumentDAO"/>
      <property name="paymentDocumentDetailDAO" ref="PaymentDocumentDetailDAO"/>
      <property name="cashMovementService" ref="CashMovementService"/>
      <property name="projectFinResultEntryService" ref="ProjectFinResultEntryService"/>
   </bean>
   

   <bean id="CashMovementDAO" class="ua.com.goit.gojava.POM.persistence.hibernate.CashMovementDAO">
   </bean>
   <bean id="BankAccountDAO" class="ua.com.goit.gojava.POM.persistence.hibernate.BankAccountDAO">
   </bean>
   <bean id="ExchangeRateDAO" class="ua.com.goit.gojava.POM.persistence.hibernate.ExchangeRateDAO">
   </bean>
   <bean id="CostItemDAO" class="ua.com.goit.gojava.POM.persistence.hibernate.CostItemDAO">
   </bean>
   <bean id="ProjectDAO" class="ua.com.goit.gojava.POM.persistence.hibernate.ProjectDAO">
   </bean>
   <bean id="ProjectStageDAO" class="ua.com.goit.gojava.POM.persistence.hibernate.ProjectStageDAO">
   </bean>
   <bean id="ProjectFinResultEntryDAO" class="ua.com.goit.gojava.POM.persistence.hibernate.ProjectFinResultEntryDAO">
   </bean>
   <bean id="PaymentDocumentDetailDAO" class="ua.com.goit.gojava.POM.persistence.hibernate.PaymentDocumentDetailDAO">
   </bean>
   <bean id="PaymentDocumentDAO" class="ua.com.goit.gojava.POM.persistence.hibernate.PaymentDocumentDAO">
   </bean>
   
   <bean id="applicationContextProvder" class="ua.com.goit.gojava.POM.services.ApplicationContextProvider">
   </bean>
   
</beans>