<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>ua.com.goit.gojava7.kickstarter.servlet.StartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>start1</servlet-name>
        <servlet-class>ua.com.goit.gojava7.kickstarter.servlet.StartServlet1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>start1</servlet-name>
        <url-pattern>/start1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>start2</servlet-name>
        <servlet-class>ua.com.goit.gojava7.kickstarter.servlet.StartServlet2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>start2</servlet-name>
        <url-pattern>/start2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>ua.com.goit.gojava7.kickstarter.servlet.CategoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>project</servlet-name>
        <servlet-class>ua.com.goit.gojava7.kickstarter.servlet.ProjectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>project</servlet-name>
        <url-pattern>/project</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>donate</servlet-name>
        <servlet-class>ua.com.goit.gojava7.kickstarter.servlet.DonateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>donate</servlet-name>
        <url-pattern>/donate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>question</servlet-name>
        <servlet-class>ua.com.goit.gojava7.kickstarter.servlet.QuestionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>question</servlet-name>
        <url-pattern>/question</url-pattern>
    </servlet-mapping>

</web-app>