<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">
           
  	<context:annotation-config />
    <context:component-scan base-package="ua.com.goit.gojava.andriidnikitin.MyShop" />    
    
	<bean id="applicationContextProvider" 
		class="ua.com.goit.gojava.andriidnikitin.MyShop.commons.MyContextLoader">
   </bean>
   
   <!-- Common beans; TODO - replace -->
   
    <bean id="daoLogger" 
		class="org.apache.log4j.Logger"
		factory-method="getLogger">
		<constructor-arg value="MyShop.DAO"/>   
	</bean>
	
	<bean id="blLogger" 
		class="org.apache.log4j.Logger"
		factory-method="getLogger">
		<constructor-arg value="MyShop.BL"/>   
	</bean>
	
	<bean id="uiLogger" 
		class="org.apache.log4j.Logger"
		factory-method="getLogger">
		<constructor-arg value="MyShop.UI"/>   
	</bean>
	
	<bean id="commonLogger" 
		class="org.apache.log4j.Logger"
		factory-method="getLogger">
		<constructor-arg value="MyShop.commons"/>   
	</bean>
	
	
   <!-- TODO inject logger beans to all beans -->
   
   <!-- DAO beans -->	
   
	
	<bean id="goodDao" 
		class="ua.com.goit.gojava.andriidnikitin.MyShop.db.HibernateGoodDao">		
   		<property name="sessionFactory" ref="sessionFactory" /> 
	</bean>
	<bean id="goodTypeDao"  
		class="ua.com.goit.gojava.andriidnikitin.MyShop.db.HibernateGoodTypeDao">		
   		<property name="sessionFactory" ref="sessionFactory" /> 
	</bean>
	
	<bean id="goodIncomingDao"  
		class="ua.com.goit.gojava.andriidnikitin.MyShop.db.HibernateGoodIncomingDao">
   		<property name="sessionFactory" ref="sessionFactory" /> 
	</bean>
	
   		
    <bean id="daoFactory" 
		class="ua.com.goit.gojava.andriidnikitin.MyShop.db.HibernateDaoFactory">
		<property name="goodDao" ref="goodDao" /> 
		<property name="goodTypeDao" ref="goodTypeDao" /> 
		<property name="goodIncomingDao" ref="goodIncomingDao" /> 		
	</bean>
	
  
	<bean 
	   class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	   <property name="location">
			<value>classpath:db.properties</value>
	   </property>
	</bean>
 
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	  <property name="driverClassName" value="${jdbc.driverClassName}" />
      <property name="url" value="${jdbc.url}" />
	  <property name="username" value="${jdbc.username}" />
	  <property name="password" value="${jdbc.password}" />
	  <!-- fix!  property name="pool_size" value="10"/-->
    </bean>
    
	<!-- Hibernate session factory -->
	      <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		   <property name="dataSource" ref="dataSource"/>
		   <property name="annotatedClasses">
		     <list>
		     		  <value>ua.com.goit.gojava.andriidnikitin.MyShop.domain.model.Good</value>
				      <value>ua.com.goit.gojava.andriidnikitin.MyShop.domain.model.GoodType</value>
				      <value>ua.com.goit.gojava.andriidnikitin.MyShop.domain.model.GoodRecord</value>
			 </list>
 		  </property>
	    <property name="hibernateProperties">
	       <props>
	         <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
	         <prop key="hibernate.show_sql">true</prop>
	         <prop key="hibernate.hbm2ddl.auto">update</prop>
	         <prop key="hibernate.connection.autocommit">false</prop>
	         <prop key="hibernate.current_session_context_class">thread</prop>
	       </props>
	    </property>	    
	 
	</bean>
	<!-- BL beans -->	
   
  <bean id="catalog" 
		class="ua.com.goit.gojava.andriidnikitin.MyShop.domain.service.GoodCatalogImpl">
		<property name="daoFactory" ref="daoFactory"/>	
		<property name="log" ref="blLogger"/>	
   </bean>
	   
	<bean id="good" 
		class="ua.com.goit.gojava.andriidnikitin.MyShop.domain.model.Good"/>
   		<!--property name="customerDao" ref="customerDao" /-->	
		
	<bean id="goodType" 
		class="ua.com.goit.gojava.andriidnikitin.MyShop.domain.model.GoodType"/>
   		<!--property name="customerDao" ref="customerDao" /-->
		
	<bean id="goodRecord" 
		class="ua.com.goit.gojava.andriidnikitin.MyShop.domain.model.GoodRecord"/>
   		<!--property name="customerDao" ref="customerDao" /-->
	 	
</beans>