<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration debug="true"
   xmlns:log4j='http://jakarta.apache.org/log4j/'>
   <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
      <param name="append" value="false"></param>
      <param name="file" value="c:/java/logs/myShop.log" />
     <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	   </layout>
   </appender>
   <!-- loggers for libs -->
    <logger name="org.springframework">
        <level value="WARN"/>
      	<appender-ref ref="fileAppender" />
    </logger>
    <logger name="com.opensymphony">
        <level value="WARN" />
    </logger>

    <logger name="org.apache.struts2">
         <level value="WARN" />
    </logger>
    <logger name="org.hibernate">
    	<level value="WARN"  />
    </logger>
    
   <root>
      <level value="FINE" />
      <appender-ref ref="fileAppender" />
   </root>
</log4j:configuration>