/*
Document   : affablebean
Created on : Jun 9, 2010, 3:59:32 PM
Author     : tgiunipero
Description: Style rules for the AffableBean application
*/


/* html tags */
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 850px;
    text-align: center;
    margin: 20px auto;
}

hr {
    border: 0;
    background-color: #333;
    height: 1px;
    margin: 0 25px;
    width: 300px;
}

table {
    margin: 0 20px;
    border-spacing: 0;
    text-align: center;
    border: solid 1px #f5eabe;
}


/* general styles */
#main { background: #eee }

#singleColumn {
    margin: 20px 30px;
    text-align: left;
}

.lightBlue { background-color: #edf8f7 }

.white { background-color: #fff }

.bubble {
    font-weight: bold;
    background-color: #f5eabe;
    padding: 5px;
    color: inherit;
}

.hMargin { margin: 0 30px }

.smallText { font-size: small }

.header {
    background-color: #c3e3e0;
    height: 30px;
}


/* styles for elements contained in the header, i.e.,
   shopping cart widget, language toggle, and logo */
#header {
    height: 250px;
    background: #aaa;
}

#logo {
    height: 155px;
    width: 155px;
    float: left;
    margin-left: 30px;
    margin-top: -20px;
}

#logoText {
    float: left;
    margin: 20px 0 0 70px;
    /* font styles apply to text within img alt attribute */
    font-family: 'American Typewriter', Courier, monospace;
    font-size: 50px;
    color: #333;
}

#widgetBar {
    height: 50px;
    width: 850px;
    float: right;
    background: #ccc;
}

.headerWidget {
    width: 194px;
    margin: 20px 2px;
    font-size: small;
    float: right;
    line-height: 25px;
    background: #aaa;
}


/* footer styles */
#footer {
    height: 60px;
    width: 350px;
    clear: left;
    background: #aaa;
}


/* index page styles */
#indexLeftColumn {
    height: 400px;
    width: 350px;
    float: left;
    background: #ccc;
}

#indexRightColumn {
    height: 400px;
    width: 500px;
    float: left;
    background: #eee;
}

.categoryBox {
    height: 176px;
    width: 212px;
    margin: 21px 14px 6px;
    float: inherit;
    background: #ccc;
}

.categoryLabelText {
    line-height: 150%;
    font-size: x-large;
}


/* category page styles */
#categoryLeftColumn {
    width: 185px;
    float: left;
    margin-top: 25px;
    padding-left: 15px;
}

#categoryRightColumn {
    margin-top: 10px;
    width: 650px;
    float: left;
}

.categoryButton {
    margin: 15px 22px;
    padding: 13px;
    display: block;
    background-color: #d3ede8;
}

#selectedCategory {
    background-color: #b2d2d2;
    margin-left: 10px;
    width: 139px;
}

#categoryTitle {
    margin: -34px 180px 0 0;
    font-size: x-large;
    float: right;
    background-color: #f5eabe;
    padding: 7px;
}

.categoryText {
    line-height: 25px;
    font-size: x-large;
}

#productTable { width: 600px }

#productTable tr { height: 90px }

#productTable td { width: 145px }


/* cart page styles */
#actionBar {
    margin: 30px;
    width: 750px;
    text-align: center;
}

#subtotal { margin: 40px 0 20px 430px }

#cartTable { width: 750px }

#cartTable td {
    width: 145px;
    height: 90px;
}


/* checkout page styles */
#checkoutTable {
    width: 360px;
    background-color: #f5eabe;
    float: left;
    height: 280px;
}

#infoBox {
    width: 300px;
    padding-left: 30px;
    float: left;
}

#priceBox {
    padding: 10px;
    margin: 10px 0;
    height: 128px;
    background-color: #c3e3e0;
}


/* confirmation page styles */
#confirmationText {
    margin: 0 20px 20px;
    padding: 10px;
    background-color: #f5eabe;
    float: left;
    width:540px;
}

.summaryColumn {
    margin-top: 15px;
    width: 50%;
    float: left;
}

#orderSummaryTable {
    width: 100%;
    text-align: left;
    height: 200px;
}

#deliveryAddressTable {
    width: 70%;
    margin-left: 15%;
    text-align: left;
    height: 200px;
}