<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>servlets.ControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <!--<context-param>
        <description>User login</description>
        <param-name>username</param-name>
        <param-value>admin</param-value>
    </context-param>

    <context-param>
        <description>User password</description>
        <param-name>password</param-name>
        <param-value>admin</param-value>
    </context-param>-->

    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>

</web-app>