<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean class="ua.com.goit.gojava7.kickstarter.DAO.dbStorage.util.JdbcDispatcher" id="jdbcDispatcher" destroy-method="close" />
	
	<bean class="ua.com.goit.gojava7.kickstarter.DAO.dbStorage.mysql.QuoteDbStorage" id="quoteDbStorage">
		<constructor-arg name="dispatcher" ref="jdbcDispatcher"/>
	</bean>
	
	<bean class="ua.com.goit.gojava7.kickstarter.DAO.dbStorage.mysql.ProjectDbStorage" id="projectDbStorage">
		<constructor-arg name="dispatcher" ref="jdbcDispatcher"/>
	</bean>
	
	<bean class="ua.com.goit.gojava7.kickstarter.DAO.dbStorage.mysql.CategoryDbStorage" id="categoryDbStorage">
		<constructor-arg name="dispatcher" ref="jdbcDispatcher"/>
	</bean>
	
	<bean class="ua.com.goit.gojava7.kickstarter.DAO.dbStorage.mysql.PaymentDbStorage" id="paymentDbStorage">
		<constructor-arg name="dispatcher" ref="jdbcDispatcher"/>
	</bean>
	
	<bean class="ua.com.goit.gojava7.kickstarter.DAO.dbStorage.mysql.QuestionDbStorage" id="questionDbStorage">
		<constructor-arg name="dispatcher" ref="jdbcDispatcher"/>
	</bean>
	
</beans>
