body {
	padding:	0;
	margin:		0;
	text-align: center;
	background: #fff;
}

#navigation {
	list-style-type: none;
	border-bottom: 	 2px solid #777;
	margin: 		 0;
	padding:		 0;
	background: 	 url('images/nav_bg.png') #f1f1f1;
}

#navigation li {
	display:		 inline-block;
	cursor: 		 pointer;
	padding:		 20px;
	
}

#categories {
	margin:		30px 0;
}

#categories a:first-child {
	margin-left:0;	
}
#categories a, input[type="submit"] {
	text-decoration: none;
	display:	inline-block;
	background: #00D8FF;
	font:		normal 15px/35px 'Verdana', sans-serif;
	padding:	0 20px;
	color: 		white;
	border-radius:5px;
	margin-left:20px;
}

#categories a:hover,  input[type="submit"]:hover {
	background: #0AA9CF;
}

.project {
	display:	inline-block;
	margin:		0 10px 10px;
	border: 	2px solid #ebebeb;
	padding: 	15px;
}

.hidden {
	display: 	none;	
}

.main-info {
	cursor:	pointer;
}

.highlighted {
	margin:		0 5%;
	width:		85%;
	text-align:	left;
}

.faq textarea {
	height: 50px;
}

textarea {
	border:		2px solid #777;
	resize:		none;
	width:		30%;
	vertical-align:middle;
	box-sizing:	border-box;
}

input[type="submit"]{
	line-height:		50px;
	border:				none;
	cursor:				pointer;
}