<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect"> org.hibernate.dialect.H2Dialect </property>
   <property name="hibernate.connection.driver_class"> org.h2.Driver </property>

    <property name="hibernate.connection.password"></property>
    <property name="hibernate.connection.url">jdbc:h2:mem:testdb</property>
    <property name="hibernate.connection.username">sa</property>
   
   
   <property name="show_sql">true</property>

   <!-- List of mapped classes -->
   <mapping class="ua.nenya.domain.Quote"/>
   <mapping class="ua.nenya.domain.Category"/>
   <mapping class="ua.nenya.domain.Project"/>
   <mapping class="ua.nenya.domain.Question"/>
   <mapping class="ua.nenya.domain.Reward"/>
   <mapping class="ua.nenya.domain.Payment"/>
</session-factory>
</hibernate-configuration>