<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app>
	<resource-ref>
		DB Connection
		<res-ref-name>jdbc/dataSource</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>kickstarter</servlet-name>
		<servlet-class>ua.dborisenko.kickstarter.Kickstarter</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>kickstarter</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error404.jsp</location>
	</error-page>
</web-app>
