<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <description>This application allows to navigate via types of goods.</description>
 <display-name>MyShop</display-name>
 <servlet>
  <servlet-name>WebAccessor</servlet-name>
  <servlet-class>ua.com.goit.gojava.andriidnikitin.service.WebAccessor</servlet-class>
  <enabled>true</enabled>
 </servlet>
 <servlet-mapping>
  <servlet-name>WebAccessor</servlet-name>
  <url-pattern>/display</url-pattern>
 </servlet-mapping>
</web-app>