@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 100;
  src: local('Josefin Slab Thin'), local('JosefinSlab-Thin'), url(http://fonts.gstatic.com/s/josefinslab/v6/etsUjZYO8lTLU85lDhZwUldBB84BqlWy1BjOnCrU9PY.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Josefin Slab Light'), local('JosefinSlab-Light'), url(http://fonts.gstatic.com/s/josefinslab/v6/NbE6ykYuM2IyEwxQxOIi2E4GofcKVZz6wtzX_QUIqsI.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(http://fonts.gstatic.com/s/josefinslab/v6/46aYWdgz-1oFX11flmyEfegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Slab SemiBold'), local('JosefinSlab-SemiBold'), url(http://fonts.gstatic.com/s/josefinslab/v6/NbE6ykYuM2IyEwxQxOIi2PBf3Xtc57ojmY2ox2Xv8Go.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'), url(http://fonts.gstatic.com/s/josefinslab/v6/NbE6ykYuM2IyEwxQxOIi2HNuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: italic;
  font-weight: 100;
  src: local('Josefin Slab Thin Italic'), local('JosefinSlab-ThinItalic'), url(http://fonts.gstatic.com/s/josefinslab/v6/8BjDChqLgBF3RJKfwHIYh7E63cHX5PwrPrCPBczlasc.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: italic;
  font-weight: 300;
  src: local('Josefin Slab Light Italic'), local('JosefinSlab-LightItalic'), url(http://fonts.gstatic.com/s/josefinslab/v6/af9sBoKGPbGO0r21xJuly3M1hBkL4m68a-ReB_y0NYc.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: italic;
  font-weight: 400;
  src: local('Josefin Slab Italic'), local('JosefinSlab-Italic'), url(http://fonts.gstatic.com/s/josefinslab/v6/etsUjZYO8lTLU85lDhZwUhMBlNeli-0RcAdOFWWLdxQ.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: italic;
  font-weight: 600;
  src: local('Josefin Slab SemiBold Italic'), local('JosefinSlab-SemiBoldItalic'), url(http://fonts.gstatic.com/s/josefinslab/v6/af9sBoKGPbGO0r21xJuly0rrE62zycmuf6NB1JeYrwM.woff2) format('woff2');
}
@font-face {
  font-family: 'Josefin Slab';
  font-style: italic;
  font-weight: 700;
  src: local('Josefin Slab Bold Italic'), local('JosefinSlab-BoldItalic'), url(http://fonts.gstatic.com/s/josefinslab/v6/af9sBoKGPbGO0r21xJuly0cqRxak6Wc5LUVz-l064SE.woff2) format('woff2');
}
