<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <servlet>
        <servlet-name>KickstarterWeb</servlet-name>
        <servlet-class>com.sandarovich.kickstarter.KickstarterWeb</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KickstarterWeb</servlet-name>
        <url-pattern>/kickstarter</url-pattern>
    </servlet-mapping>

    <env-entry>
        <env-entry-name>daoMode</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>db</env-entry-value>
    </env-entry>
</web-app>