<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext*.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>KickstarterWeb</servlet-name>
        <servlet-class>com.sandarovich.kickstarter.KickstarterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KickstarterWeb</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/pages/error/400.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/pages/error/404.jsp</location>
    </error-page>
    <!-- <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/layouts/500.jsp</location>
    </error-page> -->
</web-app>