<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
 
    <servlet>
        <servlet-name>FirstPage</servlet-name>
        <servlet-class>site.FirstPage</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>FirstPage</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>Categories</servlet-name>
        <servlet-class>site.Categories</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>Categories</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>Type</servlet-name>
        <servlet-class>site.Type</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>Type</servlet-name>
        <url-pattern>/type</url-pattern>
    </servlet-mapping>
    
          <servlet>
        <servlet-name>Selected</servlet-name>
        <servlet-class>site.Selected</servlet-class>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>Selected</servlet-name>
        <url-pattern>/selected</url-pattern>
    </servlet-mapping>
 
</web-app>