<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="mark" class="ua.com.goit.gojava.solo307.intersim.domain.Mark"></bean>
	
	<bean id="connector" class="ua.com.goit.gojava.solo307.intersim.dao.ConnectorJdbc"></bean>

</beans>