<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="subject" class="com.gojava6.Spring.TestSubject">
        <property name="observers">
            <list>
                <ref bean="observer1"/>
                <ref bean="observer2"/>
                <ref bean="observer3"/>
            </list>
        </property>
    </bean>

    <bean id="observer1" class="com.gojava6.Spring.StringObserver">
        <property name="message" value="Test message for 1"/>
    </bean>
    <bean id="observer2" class="com.gojava6.Spring.StringObserver">
        <property name="message" value="New message for 2"/>
    </bean>

    <bean id="observer3" class="com.gojava6.Spring.CustomObserver">
        <constructor-arg ref="observer1"/>
    </bean>

</beans>