<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <context-param>
        <param-name>url</param-name>
        <param-value>localhost</param-value>
    </context-param>

    <servlet>
        <servlet-name>PrimitiveServlet</servlet-name>
        <servlet-class>com.gojava6.web.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrimitiveServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForwardServlet</servlet-name>
        <servlet-class>com.gojava6.web.ForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.gojava6.web.AddUserServlet</servlet-class>
        <init-param>
            <param-name>foo</param-name>
            <param-value>bar</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>com.gojava6.web.listener.MyContextListener</listener-class>
    </listener>
</web-app>