<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx    
		   http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd">

<util:properties id="defaultProperties">
    <prop key="backend">mysql</prop>
</util:properties>

	<context:property-placeholder properties-ref="defaultProperties" />

	<context:component-scan base-package="ua.com.goit.gojava7.kickstarter">
		<!-- <context:exclude-filter type="regex" expression="!(ua\.com\.goit\.gojava7\.kickstarter\.dao\.\${backend}\..*)"/> -->
		<context:exclude-filter type="aspectj" expression="ua.com.goit.gojava7.kickstarter.dao..* &amp;&amp; !ua.com.goit.gojava7.kickstarter.dao.mysql..*" />
	</context:component-scan>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://db4free.net:3306/gojava4omarchuk" />
		<property name="username" value="gojava4omarchuk" />
		<property name="password" value="somepassword" />
	</bean>

</beans>