<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>ua.com.goit.gojava7.kickstarter.StartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/kickstarter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>category</servlet-name>
        <servlet-class>ua.com.goit.gojava7.kickstarter.CategoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>

</web-app>