body {
        color: #0A2229;
        background-color: #A9E2F3;
        padding-left: 12em; }

/*
    ul.navbar {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 2em;
        left: 2em;
        width: 10em }
    ul.navbar li {
        background: white;
        margin: 0.5em;
        padding: 0.3em;
        border-right: 1em #0489B1 }
    ul.navbar a {
        text-decoration: none }
        a:link {
        color: blue }
        a:visited {
        color: #BF00FF }*/
