<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <description>User login</description>
        <param-name>user</param-name>
        <param-value>admin</param-value>
    </context-param>

    <context-param>
        <description>User password</description>
        <param-name>pass</param-name>
        <param-value>admin</param-value>
    </context-param>

    <servlet>
        <servlet-name>mainPage</servlet-name>
        <servlet-class>servlets.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainPage</servlet-name>
        <url-pattern>/mainPage</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
<!--            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>-->
        </jsp-property-group>
    </jsp-config>

    <filter>
        <filter-name>Loging Filter</filter-name>
        <filter-class>filter.LogingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Loging Filter</filter-name>
        <servlet-name>mainPage</servlet-name>
    </filter-mapping>

</web-app>