<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="categoryDao"
		class="ua.com.goit.gojava7.kickstarter.dao.sql.CategoryDaoSqlImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="quoteDao" class="ua.com.goit.gojava7.kickstarter.dao.sql.QuoteDaoSqlImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="projectDao"
		class="ua.com.goit.gojava7.kickstarter.dao.sql.ProjectDaoSqlImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="rewardDao"
		class="ua.com.goit.gojava7.kickstarter.dao.sql.RewardDaoSqlImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="questionDao"
		class="ua.com.goit.gojava7.kickstarter.dao.sql.QuestionDaoSqlImpl">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="paymentDao"
		class="ua.com.goit.gojava7.kickstarter.dao.sql.PaymentDaoSqlImpl">
		<constructor-arg ref="dataSource" />
	</bean>

</beans>