body {
margin: 0px;
background: #98FB98
}

.type-list-container {
float:left;
margin: 10px;
padding: 10px;
border: RGB(25, 125, 25) 32px ridge;
background: #3CB371
}

.instrument {
float:left;
margin: 10px;
padding: 10px;
border: RGB(25, 125, 25) 2px ridge;
background: #eeaa33
}