<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
  	
	<bean id="connectionPool" class="ua.com.goit.gojava7.kickstarter.config.ConnectionPoolSource" />
	
	<bean id="quoteDAO" class="ua.com.goit.gojava7.kickstarter.dao.mysql.QuoteDaoMysqlImpl" scope="singleton" autowire="constructor" />

	<bean id="categoryDAO" class="ua.com.goit.gojava7.kickstarter.dao.mysql.CategoryDaoMysqlImpl" scope="singleton" autowire="constructor" />
	
	<bean id="projectDao" class="ua.com.goit.gojava7.kickstarter.dao.mysql.ProjectDaoMysqlImpl" scope="singleton" autowire="constructor" />
	
	<bean id="rewardDao" class="ua.com.goit.gojava7.kickstarter.dao.mysql.RewardDaoMysqlImpl" scope="singleton" autowire="constructor" />
	
	<bean id="paymentDao" class="ua.com.goit.gojava7.kickstarter.dao.mysql.PaymentDaoMysqlImpl" scope="singleton" autowire="constructor" />
	
	<bean id="faqDao" class="ua.com.goit.gojava7.kickstarter.dao.mysql.FaqDaoMysqlImpl" scope="singleton" autowire="constructor" />

</beans>