#header
{
	box-shadow:5px 5px 1px black;
	margain:0 auto;
	border: 5px solid black;
	width:600px;
	background-colour:red;
}
#subm
{
border-radius:5px;
background-color:lightgrey;
width:100px;
height:30px;
margin:15px;
box-shadow:  8px 0px 10px 8px black;
}