header {
	margin: 0 auto;
	height: 60px;
	width: 100%;
	background-color: royalblue;
}

.wrap {
	margin: 0 auto;
}

section {
	margin: 0 auto;
	width: 1000px;
	height: 700px;
	background-color: #CED8F6;
}

footer {
	height: 60px;
	width: 100%;
	background-color: royalblue;
}


header {
	position: relative;
}

header h1 {
	line-height: 60px;
	padding-left: 40px;
}

header h1 a {
	text-decoration: none;
	color: white;
	font-size: 25px;
}

header .menu {
	position: absolute;
	top: 0px;
	right: 0px;
}

.menu li {
	float: left;
	margin: 0px 40px;
	line-height: 60px;
}

.menu li a {
	text-decoration: none;
	color: white;
	font-size: 15px;
}