@CHARSET "UTF-8";

body {
	background-color: #BAE3C2;
	font: 10pt Arial, Helvetica, sans-serif;
	color: #555;
}

.button {
	background-color: #c7c7c7;
	background: linear-gradient(to top, #c9d4ca, #f8f8f8);
	cursor: pointer;
	border: 1px solid #606060;
	border-radius: 4px;
	margin: 5px auto;
	min-height: 25px;
}

.button:hover {
	background-color: #f0f0f0;
	background: linear-gradient(to top, #cae8ce, #d7fadc);
}

textarea {
	resize: none;
	border: 1px solid #606060;
	border-radius: 3px;
	box-shadow: inset 1px 1px 4px rgba(50, 80, 80, 0.5);
	margin: 5px;
	padding: 4px;
}

input[type="text"] {
	border: 1px solid #606060;
	border-radius: 3px;
	box-shadow: inset 1px 1px 4px rgba(50, 80, 80, 0.5);
	margin: 5px;
	padding: 4px;
}

input[type="number"] {
	border: 1px solid #606060;
	border-radius: 3px;
	box-shadow: inset 1px 1px 4px rgba(50, 80, 80, 0.5);
	margin: 5px;
	padding: 4px;
}

.div_main_header {
	margin: 0 auto;
	padding: 3px 0px 2px;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 0px 15px #fff;
	background-color: #BAE3C2;
}

.div_main_wrapper {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #606060;
	border-radius: 10px;
	box-shadow: 5px 5px 8px rgba(50, 80, 80, 0.5);
	margin: 10px auto;
	padding: 20px;
	width: 95%;
}

.div_main_footer {
	margin: 0 auto;
	font-size: 8pt;
	text-align: center;
}

.subheader {
	font-weight: bold;
}

.quote_body {
	background-color: white;
	margin: 0px;
}

.quote_text {
	font-style: italic;
	color: #115533;
}

.quote_author {
	font-weight: bold;
	color: #115533;
}

.question {
	font-style: italic;
}

.reward_amount {
	padding-left: 10px;
	font-weight: bold;
	color: #00a000;
}

.error {
	color: red;
}

/* ----------------------------- Langmenu  */
#langmenu {
	color: #555;
	float: right;
}

#langmenu ul li {
	display: inline;
	margin: 5px;
}

#langmenu ul {
	margin: 0;
	padding: 6px 20px 5px;
	list-style-type: disc;
}

#langmenu ul li a {
	background-color: transparent;
	color: #555;
	font-weight: regular;
	padding: 5px 2px;
	text-decoration: none;
}

#langmenu ul li a:hover {
	color: #005875;
	text-shadow: 0px 0px 15px #0f0;
}