a, a:hover { 
	text-decoration: none;
}

.logo {
	width:600px;
	display: inline-block;
	max-width: 100%;
}
.logo img {
	width: 100%;
}
.header {
	text-align: center;
}

ul {
    list-style:none;
}

@media (min-width:480px){
	.test-box ul {
		padding-left: 0px;
		margin-top:40px;
		list-style: none;
		text-align: center;
		display: -webkit-box;
	    -webkit-box-pack: justify;
	    display: -webkit-flex;
	    -webkit-justify-content: space-between;
	    display: flex;
	    justify-content: space-between;
	    text-align: justify;
	    text-align-last: justify;
	    /*text-justify: newspaper; /* IE7- */
	    /*zoom: 1; /* IE7- */
	}
	
	.test-box ul li {
		font-size: 24px;
		display : inline-block;
		vertical-align: top;
		text-align: center;
		display: -webkit-box;
		/*display: inline;  /* IE7- */
	    /*zoom: 1; /* IE7- */
	}
}
@media (max-width:480px){
	.test-box ul {
		padding-left: 0px;
	}
	.test-box ul li {
		padding: 10px 0px;
	    font-size: 20px;
	}
}

.question_block, .payment_block {
    text-align:left;
}
.question span{
	margin-top:10px;
	display: inline-block;
    padding: 5px 20px;
    border: 2px solid #999;
    border-radius: 20px;
}
.answer span{
	margin-top:10px;
	margin-left:50px;
	display: inline-block;
    padding: 5px 20px;
    border: 2px solid #DC8686;
    border-radius: 20px;
}

.form-control {
	width: 96%;
	margin-left: 2%;
    margin-right: 2%;
}

.form-horizontal {
	margin-top: 15px;
}

.info_block p span {
	font-weight:700;
}

footer {
	background: #F5F4F4;
	height:50px;
}

footer .container{
    padding-top: 15px;
}

.content {
	min-height: calc(100vh - 50px);
}

.reward_block h3 {
	text-align:left;
}
.page404 img {
	max-width: 100%;
}
.page404 {
    display: inline-block;
}
.logo-index img {
    width: 600px;
    max-width: 100%;
}
#index {
    height: 100vh;
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0px;
    text-align: center;
    background-image: url("/kickstarter/resources/images/bg.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width:767px){
	#index {
    	background-size: auto 100%;
	}
}

.form-group-reward {
	-webkit-box-shadow: 0 0 17px rgba(0,0,0,0.1);
	box-shadow: 0 0 17px rgba(0,0,0,0.12);
    max-width: 300px;
    margin: auto;
    padding: 10px 0px;
}
.form-group-reward:hover {
	-webkit-box-shadow: 0 0 17px rgba(0,0,0,0.3);
	box-shadow: 0 0 17px rgba(0,0,0,0.42);
}

.form-group-item {
	margin: 10px 0px;
}
.btn-reward {
	margin: 10px 0px;
}
.reward-modal .modal-content {
    width: 400px;
    max-width: 100%;
}

.header-index a{
	text-decoration: none;
	color: #999;
	text-shadow: 0 0 3px white;
    font-size: 34px;
}
.header-index a:hover{
	color: #BAAFAF;
}
.header-index {
	padding-top:40px;
}
@media (max-width:480px){
	.header-index a{
    	font-size: 26px;
	}
}
.tab-content {
	padding: 20px;
}

.project-list {
	padding: 0px;
}

.video_block iframe {
	max-width: 100%;
}
@media (max-width:540px){
	.video_block iframe {
		height:auto
	}
}

.project-list-item {
	padding: 15px;
    margin: 15px 0px;
	-webkit-box-shadow: 0 0 17px rgba(0,0,0,0.1);
	box-shadow: 0 0 17px rgba(0,0,0,0.12);
}

.project-list-item:hover {
	-webkit-box-shadow: 0 0 17px rgba(0,0,0,0.3);
	box-shadow: 0 0 17px rgba(0,0,0,0.42);
	
}
.project-list-item a{
	color:#000;
}
.project-list-item a{
	color:#000;
}

.project-list-item-name {
	color:#337ab7;
	font-size: 21px;
}
.breadcrumb {
	background-color: #fff;
	font-size: 16px;
}