.logo {
	width:600px;
	display: inline-block;
}
.logo img {
	width: 100%;
}
.header {
	text-align: center;
}

ul {
    list-style:none;
}

.test-box ul {
	margin-top:40px;
	list-style: none;
	text-align: center;
	display: -webkit-box;
    -webkit-box-pack: justify;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    /*text-justify: newspaper; /* IE7- */
    /*zoom: 1; /* IE7- */
}

.test-box ul li {
	font-size: 18px;
	display : inline-block;
	vertical-align: top;
	text-align: center;
	display: -webkit-box;
	/*display: inline;  /* IE7- */
    /*zoom: 1; /* IE7- */
}
    
.question_block, .payment_block {
    text-align:left;
}
.question span{
	margin-top:10px;
	display: inline-block;
    padding: 5px 20px;
    border: 2px solid #999;
    border-radius: 20px;
}
.answer span{
	margin-top:10px;
	margin-left:50px;
	display: inline-block;
    padding: 5px 20px;
    border: 2px solid #DC8686;
    border-radius: 20px;
}

.form-control {
	width: 96%;
	margin-left: 2%;
    margin-right: 2%;
}

.form-horizontal {
	margin-top: 15px;
}

.info_block p span {
	font-weight:700;
}

footer {
	background: #F5F4F4;
	height:50px;
}

footer .container{
    padding-top: 15px;
}

.content {
	min-height: calc(100vh - 50px);
}

.reward_block h3 {
	text-align:left;
}



