<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx    
		   http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="ua.com.goit.gojava7.kickstarter.dao.sql" />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/kickstarter" />
		<property name="username" value="user" />
		<property name="password" value="Qwerty123" />
	</bean>

	<!-- <bean id="template" class="org.springframework.jdbc.core.JdbcTemplate"> 
		<property name="dataSource" ref="dataSource" /> </bean> -->

	<!-- <tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean> -->
	
	<tx:annotation-driven />
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
 		<property name="entityManagerFactory" ref="entityManagerFactory" />
  	</bean>
  	
  	<bean id="entityManagerFactory"
 		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
 		<property name="dataSource" ref="dataSource" />
  	</bean>
  	
	<!-- <bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>

		<property name="annotatedClasses">
			<list>
				<value>ua.com.goit.gojava7.kickstarter.domain.Quote</value>
				<value>ua.com.goit.gojava7.kickstarter.domain.Category</value>
				<value>ua.com.goit.gojava7.kickstarter.domain.Payment</value>
				<value>ua.com.goit.gojava7.kickstarter.domain.Project</value>
				<value>ua.com.goit.gojava7.kickstarter.domain.Question</value>
				<value>ua.com.goit.gojava7.kickstarter.domain.Reward</value>
			</list>
		</property>

		<property name="mappingResources">
			<list>

				<value>Question.hbm.xml</value>
				<value>Reward.hbm.xml</value>
			</list>
		</property>

	</bean> -->

</beans>