<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                 http://www.springframework.org/schema/beans/spring-beans.xsd 
                 http://www.springframework.org/schema/security 
                 http://www.springframework.org/schema/security/spring-security.xsd">


	<http auto-config="true">
		<intercept-url pattern="/index*" access="permitAll" />
		<intercept-url pattern="/aut/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/delete/*" access="hasRole('ROLE_ADMIN')" />
		<csrf disabled="true"/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="pass" authorities="ROLE_ADMIN,ROLE_USER" />
				<user name="user1" password="1111" authorities="ROLE_USER" />
				<user name="user2" password="2222" disabled="true" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
</beans:beans> 