@CHARSET "UTF-8";

body {
}

div.gamers_container {
 margin-top : 10px;
 font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
 color: black;
}

div.one_gamer_container {
 max-width: 500px;
 margin-top: 10px;
}

div.gamer_skills_container {
 display: block;
 margin-left: 10px;
}

div.one_skill_container {
 background-color: lightgrey;
 margin-bottom: 5px;
}

span.gamer_skills_name {
 font-weight: bold;
}
span.gamer_skills_value {
 margin-left: 5px;
 color: red;
}
